/* Variables de color */
:root {
    --color-primario: #8C6239; /* Marrón claro */
    --color-secundario: #B89F7C; /* Beige */
    --color-oscuro: #2C3E50; /* Azul oscuro */
    --color-texto: #000; /* Negro */
    --color-blanco: #FFF; /* Blanco */
    --color-navbar: #2C3E50; /* Azul oscuro */
    --color-fondobeneficio: #F2E6D8; /* Fondo claro */
    --color-modal: #FAF3E0
}

/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--color-secundario);
    color: var(--color-texto);
}

/* Menú de navegación */
.navbar {
    background-color: #2C3E50;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: relative; /* Importante para controlar el contenido superpuesto */
    z-index: 1000; /* Asegúrate de que el menú esté por encima */
}

/* Enlaces de navegación */
.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    padding: 0;
}

/* Estilo para enlaces */
.nav-links a {
    text-decoration: none;
    color: #FFF;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* Hover para enlaces */
.nav-links a:hover {
    color: #B08968;
}


/* Estilo específico para el menú desplegable */
.nav-links.active a {
    display: block; /* Asegura que los enlaces sean visibles */
    width: 100%; /* Ocupan todo el ancho del contenedor */
    text-align: center; /* Centran el texto */
}


.hamburger-menu img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none; /* Mostrar solo en pantallas pequeñas */
}

@media (max-width: 768px) {
    .nav-links {
        display: none; /* Ocultar en dispositivos pequeños */
        flex-direction: column;
        background-color: var(--color-navbar);
        position: absolute;
        top: 60px; /* Ajustar según la altura de la navbar */
        left: 0;
        width: 100%;
        padding: 1rem;
        z-index: 1000;
    }

    .nav-links.active {
        display: flex; /* Mostrar menú al activarse */
    }

    .hamburger-menu img {
        display: block; /* Mostrar en pantallas pequeñas */
    }
}

.logo-container img {
    width: 120px; /* Tamaño pequeño del logo */
    height: auto;
    cursor: pointer;
}

.logout-icon {
    width: 30px;
    height: auto;
    margin-left: 1rem;
    cursor: pointer;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: var(--color-modal);
    padding: 2rem;
    border-radius: 12px;
    width: 400px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content img {
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.modal-content h3 {
    font-family: 'Helvetica-Bold';
    font-size: 1.5rem;
    color: var(--color-primario);
    margin-bottom: 1rem;
}

.modal-content p {
    margin: 0.5rem 0;
    color: var(--color-texto);
}

.modal-content button {
    background-color: var(--color-primario);
    color: var(--color-blanco);
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Helvetica-Bold';
    margin-top: 1rem;
    transition: background-color 0.3s;
}

.modal-content button:hover {
    background-color: var(--color-oscuro);
}


.chatbot-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px; /* Tamaño del botón */
    height: 70px; /* Tamaño del botón */
    background-color: var(--color-secundario); /* Usa el color beige de tu página */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra del botón */
    z-index: 1000; /* Asegúrate de que esté encima del contenido */
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.chatbot-button:hover {
    transform: scale(2.5); /* Aumenta el tamaño al pasar el mouse */
    background-color: var(--color-oscuro); /* Cambia el color al pasar el mouse */
}

.chatbot-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.chatbot-icon {
    width: 70px; /* Tamaño del ícono dentro del botón */
    height: 40px;
    object-fit: contain;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--color-oscuro);
}


.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.menu li a {
    color: var(--color-blanco);
    text-decoration: none;
    font-weight: bold;
}

.menu li a:hover {
    text-decoration: underline;
}

/* Main Container */
.main-container {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

/* Info Section */
.info-section {
    text-align: center;
    margin-bottom: 2rem;
    padding: 1.5rem;
    background-color: var(--color-fondobeneficio); /* Beige */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-section h2, .info-section h3 {
    color: var(--color-primario); /* Marrón claro */
}

/* Catalog Section */
.catalog-section {
    text-align: center;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
}

.product-card {
    width: 200px;
    padding: 1rem;
    background-color: var(--color-blanco); /* Blanco */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-card img {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
}

.product-card h3 {
    font-size: 1rem;
    color: var(--color-texto); /* Negro */
}

.product-card button {
    background-color: var(--color-primario); /* Marrón claro */
    color: var(--color-blanco); /* Blanco */
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.product-card button:hover {
    background-color: var(--color-oscuro); /* Azul oscuro */
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    background-color: var(--color-primario); /* Marrón claro */
    color: var(--color-blanco); /* Blanco */
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: var(--color-oscuro); /* Azul oscuro */
}

/* Footer */
.footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--color-navbar); /* Azul oscuro */
    color: var(--color-blanco); /* Blanco */
    margin-top: 2rem;
    font-family: 'Helvetica-Bold';
}
